<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testonlineshop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testonlineshop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TestOnlineShop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TestOnlineShop</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="OnlineShopDBEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:onlineshopdb.database.windows.net,1433;Initial Catalog=OnlineShopDB;User ID=Lepeletie@onlineshopdb;Password=BabaYagae44ff5" Name="Data Source=tcp:onlineshopdb.database.windows.net,1433;Initial Catalog=OnlineShopDB;User Id=Lepeletie@onlineshopdb;Password=BabaYagae44ff5" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN81\SQLEXPRESS;Initial Catalog=OnlineShopDB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OnlineShopDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN81\SQLEXPRESS;initial catalog=OnlineShopDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OnlineShopDB" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:onlineshopdb.database.windows.net,1433;Initial Catalog=OnlineShopDB;User ID=Lepeletie@onlineshopdb;Password=BabaYagae44ff5" Name="Data Source=tcp:onlineshopdb.database.windows.net,1433;Initial Catalog=OnlineShopDB;User Id=Lepeletie@onlineshopdb;Password=BabaYagae44ff5" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN81\SQLEXPRESS;Initial Catalog=OnlineShopDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OnlineShopDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=WIN81\SQLEXPRESS;Initial Catalog=OnlineShopDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineShopDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:onlineshopdb.database.windows.net,1433;Initial Catalog=OnlineShopDB;User Id=Lepeletie@onlineshopdb;Password=BabaYagae44ff5</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OnlineShopDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:onlineshopdb.database.windows.net,1433;initial catalog=OnlineShopDB;user id=Lepeletie@onlineshopdb;password=BabaYagae44ff5;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>